In [195]:
import pandas as pd

In [196]:
resource_file_path = "Resources/purchase_data.csv"
# Check the encoding
with open(resource_file_path) as f:
    print(f)

<_io.TextIOWrapper name='Resources/purchase_data.csv' mode='r' encoding='UTF-8'>

In [265]:
df = pd.read_csv(resource_file_path)
print(df.loc[df["SN"] == "Adairialis76"])
df.head()

     Purchase ID            SN  Age Gender  Item ID          Item Name  Price
467          467  Adairialis76   16   Male      123  Twilight's Carver   2.28

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [282]:
#Check if data needs to be cleaned
df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [ ]:
# Count total number of players

grouped_by_players = df.groupby("SN")
players_number = len(grouped_by_players)
print(f"Total number of players: {players_number}")

In [250]:
### Purchasing Analysis (Total)
# * Number of Unique Items
unique_items = df["Item Name"].unique()
unique_items_number = len(unique_items)
print(f"Number of Unique Items: {unique_items_number}")

Number of Unique Items: 179

                                 Purchase ID
Item Name
Abyssal Shard                              5
Aetherius, Boon of the Blessed             5
Agatha                                     6
Alpha                                      3
Alpha, Oath of Zeal                        3
...                                      ...
Wolf                                       8
Wolf, Promise of the Moonwalker            6
Worldbreaker                               4
Yearning Crusher                           3
Yearning Mageblade                         5

[179 rows x 1 columns]

In [251]:
# * Average Purchase Price
average_purchase_price = round(df["Price"].mean(),2)
print(f"Average Purchase Price: ${average_purchase_price}")

# * Total Number of Purchases
total_number_purchases = len(df["Purchase ID"])
print(f"Total Number of Purchases: {total_number_purchases}")

# * Total Revenue
total_revenue = df["Price"].sum()
print(f"Total_revenue: ${total_revenue}")

Average Purchase Price: $3.05
Total Number of Purchases: 780
Total_revenue: $2379.77

In [315]:
### Gender Demographics

# Create function whith argument that should specify gender from Capital letter
def print_count_players_by_gender(gender):
    if gender in ["Female", "Male"]:
        gender_df = df.loc[df['Gender'] == gender]
    else: gender_df = df.loc[(df['Gender'] != "Female")&(df['Gender'] != "Male")
]
    gender_players_count = len(gender_df.groupby("SN"))
    gender_players_percentage = round(gender_players_count/players_number*100, 2)
    print(f"Percentage and Count of {gender} Players: {gender_players_percentage}% ({gender_players_count})")

def count_players_by_gender(gender):
    if gender in ["Female", "Male"]:
        gender_df = df.loc[df['Gender'] == gender]
    else: gender_df = df.loc[(df['Gender'] != "Female")&(df['Gender'] != "Male")
]
    gender_players_count = len(gender_df.groupby("SN"))
    gender_players_percentage = round(gender_players_count/players_number*100, 2)
    return gender_players_count

# Call the function with different parameters
# * Percentage and Count of Male Players
print_count_players_by_gender("Male")

# * Percentage and Count of Female Players
print_count_players_by_gender("Female")

# * Percentage and Count of Other / Non-Disclosed
print_count_players_by_gender("Non-Disclosed gender")

Percentage and Count of Male Players: 84.03% (484)
Percentage and Count of Female Players: 14.06% (81)
Percentage and Count of Non-Disclosed gender Players: 1.91% (11)

11

In [328]:
### Purchasing Analysis (Gender)
# * The below each broken by gender
#   * Purchase Count
purchase_count_by_gender = df[["Gender", "Purchase ID"]].groupby(["Gender"]).count()

male_purchases = purchase_count_by_gender['Purchase ID'][1]
female_purchases = purchase_count_by_gender['Purchase ID'][0]
otherGender_purchases = purchase_count_by_gender['Purchase ID'][2]

print(f"\nPurchase Count By Gender:\nMale: {male_purchases}\nFemale: {female_purchases}\nNon-Disclosed Gender: {otherGender_purchases}")

#   * Average Purchase Price
purchase_price_by_gender = df[["Gender", "Price"]].groupby(["Gender"]).sum()

male_average_purchase = round(purchase_price_by_gender['Price'][1]/count_players_by_gender("Male"),2)
female_average_purchase = round(purchase_price_by_gender['Price'][0]/count_players_by_gender("Female"),2)
otherGender_average_purchase = round(purchase_price_by_gender['Price'][2]/count_players_by_gender("Other"),2)

print(f"\nAverage Purchase Price By Gender:\nMale: {male_average_purchase}\nFemale: {female_average_purchase}\nNon-Disclosed Gender: {otherGender_average_purchase}")

#   * Total Purchase Value
print(f"\nTotal Purchase Value: {purchase_price_by_gender}")

#   * Average Purchase Total per Person by Gender
purchase_per_person = df[["Gender", "SN", "Purchase ID"]].groupby(["Gender", "SN"]).count()
# purchase_per_person = purchase_per_person["Purchase ID"].mean()
purchase_per_person

Purchase Count By Gender:
Male: 652
Female: 113
Non-Disclosed Gender: 15

Average Purchase Price By Gender:
Male: 4.07
Female: 4.47
Non-Disclosed Gender: 4.56

Total Purchase Value:                          Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

                                     Purchase ID
Gender                SN
Female                Adastirin33              1
                      Aerithllora36            2
                      Aethedru70               1
                      Aidain51                 1
                      Aiduesu86                1
...                                          ...
Other / Non-Disclosed Lirtim36                 1
                      Maluncil97               2
                      Rairith81                1
                      Siarithria38             2
                      Sundim98                 1

[576 rows x 1 columns]